.warapper{
background-color:rgb(192,192,192,0.3);
}

.top-menu h2{
text-align:center;
font-size:30px;
color:rgb(0,0,0,0.7);
margin-top:2%;
}

.top-menu p{
text-align:center;
font-size:5px;
margin-top:1%;
color:rgb(128,128,128)
}

.mein{
margin-left:16%;
margin-top:5%;
}

.mein img{
float:left;
width:25%;
}

.mein-image{
width:100%;
margin-right:3%;
}

.mein-l{
position:relative;
z-index:0;
}

.label{
position:absolute;
z-index:1;
}

.label2{
position:absolute;
z-index:1;
left:50%;
}

.label3{
position:absolute;
z-index:1;
}

.cf{
clear:both;
}

.text p{
float:left;
width:25%;
margin-right:3%;
background-color:rgb(255,255,255);
height:150px;
}

.sabu{
font-size:18px;
text-align:center;
}

.block{
margin-top:5%;
margin-left:2%;
}

.block2 h2{                                   
font-size:30px;                                 
color:rgb(0,0,0,0.7);                           
margin-top:2%;                                  
margin-left:30%;                                  
}                                               
                                                
.block2 p{                                    
font-size:5px;                                  
margin-top:1%;                                  
color:rgb(128,128,128);                         
margin-left:35%;                                  
margin-bottom:5%;                                  
}
 



 
