.wrapper{
min-width:1200px;
}

.cf{
clear:both;




.mail{
float: left;
    color: #FFF;
    background-color: #000;
    padding: 5%;
    margin-top: 7%;
}

.mail2{
float: left;
    margin-top: 12%;
    padding: 2%;
}




























































































