.wrapper{
background:slategray;
}

.menu ul li{
float:left;
width:16.6%;
margin-top:0.5%;
background:slategray;
font-size:20px;
text-align:center;
list-style:none;
}

.sabu{
color:goldenrod;
font-size:12px;
}

.menu-back{
.background:slategray;
}

.cf{
clear:both;
}

.main-left{
float:left;
width:70%;
}

.content{
height:662px;
background-color:black;
width:100%;
}

.content-left{
width:45%;
float:left;
margin-left:3%;
margin-right:3%;
margin-top:3%;
}

.content-right{
width:45%;
float:left;
margin-right:4%;
margin-top:3%;
}

.main-right{
float:left;
width:30%;
background-image:url(椅子.jpeg);
background-position:center;
background-size:cover;
height:662px;
}

.block{
color:white;
text-align:center;
}

.block-left{
float:left;
width:50%;
}

.block-right{
float:left;
width:50%;
}

.block h2{
font-size:70px;
color:lavender;
margin-top:50%;
margin-bottom:20%;
}

.footer ul li{
float:left;
list-style:none;
width:25%;
font-size:20px;
text-align:center;
margin-bottom:5%;
margin-top:2%;
}

.top-image{
position:relative;
z-index:1;
}

.lable{
position:absolute;
top:15%;
left:15%;
z-index:0;
}













