.head{
float:left;
width:15%;
background-color:sienna;
 color:white;
font-size:7px;
text-align:center;
}

.mame{
color:darkkhaki;
font-size:5px;
}

.head2{
float:left;
width:15%;
background-color:saddlebrown;
color:white;
font-size:7px;
text-align:center;
}

.head3{
float:left;
width:25%;
background-color:saddlebrown;
color:white;
font-size:7px;
text-align:center;
}

.cf{
clear:both;
}

.photo{
width:100%;
}

.brock{
font-size:12px;
text-align:center;
}

.brock2{
float:left;
font-size:13px;
width:12%;
}

.brock3{
float:left;
font-size:10px;
color:darkkhaki;
font-align:center;
width:12%;
}

.photo2{
width:23%;
margin-right:2%;
}

.photo3{
width:23%;
}

.top-img{
background-image:url(女の子.jpeg
);
height:600px;
background-position:center;
background-size:cover;
}

.top-img h2{
font-size:40px;
text-align:center;
color:red;
}
