.news{
background-color:#000;
padding:3% 0%;
text-align:center;
}

.news h2{
font-family: 'Jockey One', sans-serif;
font-size:65px;
color:#FFF;
letter-spacing: 0.2em;
background-color:#ccc;
margin-left:42%;
margin-right:42%;
}




.day p{
letter-spacing: 0.2em;
font-size: 15px;
text-align: center;
padding-top: 5%;
}

.sabu{
letter-spacing: 0.2em;
background-color: #ccc;
color: #FFF;
}




.cf{
clear:both;
}

.aikon{
text-align: center;
color: #ccc;
font-size: 45px;
padding: 2%;
}




.title h2{
font-size: 30px;
padding: 4% 15%;
letter-spacing: 0.2em;
}

.title p{
font-size: 20px;
padding: 2% 15%;
letter-spacing: 0.1em;
}

.title img{
padding: 0% 25%;
}




.mein{
padding:2% 15%;
}

.title2 h2{
font-size: 22px;
letter-spacing: 0.1em;
}




.text{
padding:3% 0%;
}

.text h2{
padding-top: 10%;
font-size: 20px;
padding-bottom: 2%;
letter-spacing: 0.1em;
}

.text p{
padding:1% 0%;
letter-spacing: 0.1em;
font-size:15px;
}

.photo{
text-align:center;
}




.adjust{
padding-top: 10%;
padding-bottom: 5%;
}

.aikon2{
text-align: center;
font-size: 40px;
}



.under{
background-color:#000;
}

.BTT{
padding: 7% 38%;
}

.btt{
text-align:center;
background-color:#24292e;
color:#FFF;
float:left;
padding: 6% 10%;
}

.btt2{
text-align:center;
background-color:#24292e;
color:#FFF;
float:left;
padding: 6% 10%;
padding-right:25%;
}





.under-menu ul{
width: 120%;
}

.under-menu ul li{
float:left;
padding: 3% 4%;
color:#FFF;
background-color: #24292e;
}

.under-menu i{
float:left;
padding: 3%;
color: #FFF;
font-size:35px;
}




.under-menu2{
text-align: right;
padding-top: 4%;
padding-right: 10%;
}

.under-menu2 img{
width:19%;




.infomation{
width:100%;
}

.I-L{
width:50%;
padding-left:10%;
}

.I-L p{
color:#FFF;
}

.I-R{
width:50%;
padding-left:10%;
}

.I-R p{
color:#FFF;
}




































